@model TextEditor.Models.Doc

@{
    ViewData["Title"] = "Edit Document";
}

<div class="container">
    <h2 class="text-center mb-4">Edit Document</h2>

    <form asp-action="Edit" class="card shadow-lg p-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label fw-bold">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Content</label>
            <textarea id="tiny" style="width: 100%; height: 60vh" asp-for="Content"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="UserId" />

        <div class="d-flex justify-content-between">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <a class="btn btn-info" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
